swagger: "2.0"

host: "myservice.myservice.mup-prod.mup.zone"

schemes: [ http ]

info:
  version: "0.0.0"
  title: Myservice service

paths:
  /myservice/{id}:
    get:
      description: Fetch the myservice entity by the given id
      summary: Find pets by ID
      operationId: myserviceGet
      parameters:
        - name: id
          in: path
          description: The id of the myservice entity to fetch
          required: true
          type: integer
          format: int64
        - name: size
          description: The size of the myservice entity to fetch
          in: query
          type: integer
          format: int32
          required: false
        - name: variation
          in: query
          type: string
          required: true
      responses:
        200:
          description: The corresponding myservice entity
          schema:
            $ref: "#/definitions/MyserviceEntity"
        404:
          description: No such myservice entity exists with the given id

    delete:
      operationId: myserviceDelete
      parameters:
        - name: id
          in: path
          description: The id of the myservice entity to delete
          required: true
          type: integer
          format: int64
      responses:
        204:
          description: Confirmation that the myservice entity was deleted or is in the process of being deleted
        404:
          description: No such myservice entity exists with the given id

  /myservice/form/{id}:
    post:
      description: Create a myservice entity
      operationId: myservicePost
      parameters:
        - name: id
          in: path
          description: The id of the myservice entity to fetch
          required: true
          type: integer
          format: int64
        - name: size
          description: The size of the myservice entity to fetch
          in: query
          type: integer
          format: int32
          required: false
        - name: variation
          in: formData
          type: string
          required: true
      responses:
        201:
          description: The newly created myservice entity
          schema:
            $ref: "#/definitions/MyserviceEntity"

  /myservice/sub/{id}:
    post:
      description: Create a myservice entity
      operationId: myservicePost
      parameters:
        - name: id
          in: path
          description: The id of the myservice entity to fetch
          required: true
          type: integer
          format: int64
        - name: size
          description: The size of the myservice entity to fetch
          in: query
          type: integer
          format: int32
          required: false
        - name: variation
          in: query
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/MyserviceEntityCreate"
      responses:
        201:
          description: The newly created myservice entity
          schema:
            $ref: "#/definitions/MyserviceEntity"

definitions:
  MyserviceEntity:
    required:
      - id
      - message
      - created
      - modified
    properties:
      id:
        type: integer
        format: int64
      message:
        type: string
      optionalDescription:
        type: string
      created:
        type: string
        format: timestamp
      modified:
       type: string
       format: timestamp

  MyserviceEntityCreate:
    required:
      - message
    properties:
      message:
        type: string
      description:
        type: string