openapi: 3.0.0
info:
  version: 0.0.0
  title: Myservice service
paths:
  "/myservice/{id}":
    get:
      description: Fetch the myservice entity by the given id
      summary: Find pets by ID
      operationId: myserviceGet
      parameters:
        - name: id
          in: path
          description: The id of the myservice entity to fetch
          required: true
          schema:
            type: integer
            format: int64
        - name: size
          description: The size of the myservice entity to fetch
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: variation
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The corresponding myservice entity
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/MyserviceEntity"
        "404":
          description: No such myservice entity exists with the given id
    delete:
      operationId: myserviceDelete
      parameters:
        - name: id
          in: path
          description: The id of the myservice entity to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "204":
          description: Confirmation that the myservice entity was deleted or is in the
            process of being deleted
        "404":
          description: No such myservice entity exists with the given id
  "/myservice/form/{id}":
    post:
      description: Create a myservice entity
      operationId: myservicePost
      parameters:
        - name: id
          in: path
          description: The id of the myservice entity to fetch
          required: true
          schema:
            type: integer
            format: int64
        - name: size
          description: The size of the myservice entity to fetch
          in: query
          required: false
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                variation:
                  type: string
              required:
                - variation
      responses:
        "201":
          description: The newly created myservice entity
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/MyserviceEntity"
  "/myservice/sub/{id}":
    post:
      description: Create a myservice entity
      operationId: myservicePost
      parameters:
        - in: query
          name: test.name
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: The id of the myservice entity to fetch
          required: true
          schema:
            type: integer
            format: int64
        - name: size
          description: The size of the myservice entity to fetch
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: variation
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MyserviceEntityCreate"
        required: true
      responses:
        "201":
          description: The newly created myservice entity
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/MyserviceEntity"
servers:
  - url: http://myservice.myservice.mup-prod.mup.zone
components:
  schemas:
    SentimentPolarity:
      description: The taxonomy of the category
      enum:
        - iab-qag
        - iptc-subjectcode
      type: string
    MyserviceEntity:
      required:
        - id
        - message
        - created
        - modified
        - generated_at.start
      properties:
        id:
          type: integer
          format: int64
        message:
          type: string
        optionalDescription:
          type: string
        generated_at.start:
          type: string
          format: "date-time"
        created:
          type: string
          format: timestamp
        modified:
          type: string
          format: "date-time"
    MyserviceEntityCreate:
      required:
        - message
      properties:
        message:
          type: string
        description:
          type: string