/**
{{#title}} * = {{{title}}} =
 *
{{/title}}
{{#description}} * {{{description}}}
 *
{{/description}}
{{#vars}}
 * @param {{{name}}} {{#description}}{{{description}}}{{/description}}
{{/vars}}
 */
case class {{classname}} (
  {{#vars}}
  {{name}}: {{^required}}Option[{{/required}}{{^isEnum}}{{datatype}}{{/isEnum}}{{^required}}]{{/required}}{{#hasMore}},{{/hasMore}}
  {{/vars}}
)