/**
{{#title}} * = {{{title}}} =
 *
{{/title}}
{{#description}} * {{{description}}}
 *
{{/description}}
{{#vars}}
 * @param {{{name}}} {{#description}}{{{description}}}{{/description}}
{{/vars}}
 */
sealed case class {{classname}} (
  {{#vars}}
  {{{name}}}: {{#required}}{{#isEnum}}{{classname}}.{{datatypeWithEnum}}{{/isEnum}}{{^isEnum}}{{datatype}}{{/isEnum}}{{/required}}{{^required}}Option[{{#isEnum}}{{classname}}.{{datatypeWithEnum}}{{/isEnum}}{{^isEnum}}{{datatype}}{{/isEnum}}]{{/required}}{{#hasMore}},{{/hasMore}}
  {{/vars}}
){{#parent}} extends {{parent}}{{/parent}}

object {{classname}} {
  {{#hasEnums}}{{#vars}}{{#isEnum}}{{> modelEnum}}{{/isEnum}}{{/vars}}{{/hasEnums}}
}
